@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.primary-header-auth-link {
    color: #da6b10;
    text-decoration: #da6b10;
    text-decoration-color: #da6b10;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    transition: all 0.3s;
}

.navbar {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

/* #img-primary-logo {
    align-items: center;
    justify-content: center;
    display: flex;
} */

#copy-password-icio {
    width: 1.5em;
    height: auto;
    transition: all 0.3s;
}

#show-hide-password-icio {
    width: 1.5em;
    height: auto;
    transition: all 0.3s;
}

#tip-sfue {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

/* #copy-password-icio:hover {
    transform: scale(1.25);
    transition: all 0.3s;
} */

#copy-password-icio-btn:hover #copy-password-icio {
    transform: scale(1.25);
    transition: all 0.3s;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #dddddd;
    border-color: #dddddd;
}

#show-hide-password-icio-btn:hover #show-hide-password-icio {
    transform: scale(1.25);
    transition: all 0.3s;
}


#primary-password {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}

#img-primary-logo {
    width: 4em;
    height: auto;
    transition: all 0.3s;
}

#img-primary-logo:hover {
    transform: scale(1.25);
    transition: all 0.3s;
}

#primary-repo-github-target {
    width: 2.5em;
    height: auto;
    transition: all 0.3s;
}

#primary-repo-github-target:hover {
    transform: scale(1.25);
    transition: all 0.3s;
    /* transition-behavior: smooth; */
}

#sfy3of {
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}

#heading-ceyfefeo {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75em;
}

#heading-deyfefeo {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75em;
}

/* #hack-fhubg {
    align-items: center;
    justify-content: center;
    width: 8em;
    height: auto;
} */

#pass-sesgbeiug {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}

#card-afcwf {
    text-align: left;
    justify-content: center;
}

#card-dfefeav {
    text-align: left;
    justify-content: center;
}

#cardugeowg {
    width: 40em;
    height: auto;
    background-color: #f8f8f8;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #f8f8f8;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#cardugeowg:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

#card-afcwh {
    text-align: left;
    justify-content: center;
}

#card-dfefeah {
    text-align: left;
    justify-content: center;
}

#cardugeowh {
    width: 40em;
    height: auto;
    background-color: #f8f8f8;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #f8f8f8;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#cardugeowh:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

#eagwegwegw {
    padding-top: 0.5em;
    font-size: 1.1em;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#eagwegwegr {
    /* padding-top: 0.1em; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    /* font-weight: bold; */
}

#chars-feohw4 {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.05em;
}

#f4ytwfyhv {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    padding-top: 1em;
}